<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>An eleventy blog with knitr</title>

        <!-- social media tags -->
        <meta property="og:title" content="{{ title }}">
        <meta property="og:description" content="{{ subtitle }}">
        <meta property="og:image" content="https://knitr-11ty.djnavarro.net/preview.jpg">
        <meta property="og:site-name" content="An eleventy blog with knitr">
        <meta name="twitter:title" content="{{ title }}">
        <meta name="twitter:description" content="{{ subtitle }}">
        <meta name="twitter:image" content="https://knitr-11ty.djnavarro.net/preview.jpg">
        <meta name="twitter:creator" content="@djnavarro">
        <meta name="twitter:card" content="summary_large_image">

        <!-- syntax highlighting --> 
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/prismjs@1.29.0/themes/prism.min.css">

        <!-- font -->
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

        <!-- skeleton template -->
        <link rel="stylesheet" href="/normalize.css">
        <link rel="stylesheet" href="/skeleton.css">
    </head>
    
    <!-- post body -->
    <body>

        <!-- navigation buttons -->
        <div class = "container" style = "padding-top: 2rem; padding-bottom: 2rem;">
            <div class = "row">
                <a class="button" href="/">Home</a>
                <a class="button" href="https://github.com/djnavarro/knitr-11ty">GitHub Page</a>
                <a class="button" href="https://djnavarro.net">Danielle's Home Page</a>
            </div>
        </div>

        <!-- post front matter -->
        <div class = "container" style = "padding-top: 2rem; padding-bottom: 2rem;">
            <h1>{{ title }}</h1>
            <p>
                <b>{{ subtitle }}</b><br>
                <b>{{ date | date: "%Y-%m-%d" }}</b>
            </p>
        </div>

        <!-- post content -->
        <div class="container">
            {{ content }}
        </div>
    </body>
</html>